<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/sample">Sample</a></li>
    <li class="active"><a ng-href="#/list-messages">List</a></li>
  </ul>
  <h3 class="text-muted">chitchat</h3>
</div>

<div class="jumbotron" data-ng-repeat="message in messages">
  <h1>Sample Message</h1>
  <b>from:</b> {{ message.from }} <br />
  <b>to:</b> {{ message.to }} <br />
  <b>message:</b> {{ message.message }} <br />
</div>

<div class="footer">
  <p>chitchat</p>
</div>
